<h1><%= @list.name %></h1>
<% @list.movies.each do |movie| %>
<h3><%= movie.title %></h3>
<p><%= movie.overview %></p>
<%= movie.poster_url %>
<% bookmark = Bookmark.find_by(movie: movie, list: @list) %>
<p><%= bookmark.comment %></p>
<p><%= link_to 'delete this movie', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %></p>
<% end %>

<p><%= link_to 'add a movie', new_list_bookmark_path(@list)  %></p>
